.content-wrapper {
  display: flex;
}

#narrow-container {
  max-width: 800px;
  margin: 0 auto;
}

.user-item {
  margin-bottom: 1rem;
  border-radius: 4px;
  overflow: hidden;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.05);
  }

  .card-header {
    cursor: pointer;
  }
}

.user {
  &__add-button {
    margin-top: 2rem;
  }
}